.hamburger {
  width: 50px;
  position: relative;
  height: 32px;
  color: #fff;
  font-size: 0;
  &:hover {
    .hamburger__span--2 {
      background: white;
    }
  }
  &__span {
    position: absolute;
    border-radius: 6px;
    width: 100%;
    height: 3px;
    background: $white;
    transition: all 0.2s;
    left: 0;
    &--1 {
      top: 0;
      transform-origin: top right;
    }
    &--2 {
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 1;
    }
    &--3 {
      top: auto;
      bottom: 0;
      transform-origin: bottom left;
    }
  }
}
.is-active {
  .hamburger {
    transform: rotate(45deg);
    &__span {
      &--1 {
        opacity: 0;
      }
      &--2 {
        transform: rotate(90deg);
      }
      &--3 {
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

@media (max-width: 960px), (max-device-width: 760px), (orientation: portrait) {
  .header__placeholder {
    z-index: 3;
    position: relative;
  }
  .hamburger {
    z-index: 10;
  }
  .main-menu.nav-is-open {
    display: block;
    position: fixed;
    height: 100%;
    background: #e0e0e0;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 9;
    padding-top: 100px;
    .main-menu__li {
      color: $blue;
      padding: 0 6px;
      height: 100%;
      float: none;
      width: 100%;
      display: block;
      height: 64px;
    }
  }
}
